<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"

      lang="en">
<head>
    <th:block th:replace="fragments/layout::meta">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description"
              content="FWD Việt Nam là công ty bảo hiểm cung cấp các sản phẩm và dịch vụ bảo hiểm chuyên nghiệp."/>
        <meta name="keywords" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    </th:block>

    <th:block th:replace="fragments/layout::stylesheet">
        <link rel="stylesheet" href="../../static/vendor/jquery-ui/jquery-ui.css"
              th:href="@{/vendor/jquery-ui/jquery-ui.css}"/>
        <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.css"
              th:href="@{/vendor/font-awesome/css/font-awesome.css}"/>
        <link rel="stylesheet" href="../../static/css/style.min.css"
              th:href="@{/css/style.min.css}"/>
        <link rel="stylesheet" href="../../static/css/custom.css"
              th:href="@{/css/custom.css}"/>
    </th:block>

    <th:block th:replace="fragments/layout::javascript">
        <script src="../../static/js/main.min.js"
                th:src="@{/js/main.min.js}"></script>
        <script src="../../static/vendor/jquery-ui/jquery-ui.js"
                th:src="@{vendor/jquery-ui/jquery-ui.js}"></script>
        <script src="../../static/js/jquery.mask.js"
                th:href="@{/js/jquery.mask.js}"></script>
    </th:block>
</head>
<body class="vi-vn">
<header th:replace="fragments/layout::header">
</header>

<div class="container home" style="min-height: 70%">
    <div class="container">
        <div class="title margin-top-l">
            <h2>Đổi mật khẩu</h2>
            <p>Mật khẩu bao gồm ít nhất 8 ký tự, có chữ hoa, chữ thường và số</p>
        </div>

        <!--/*@thymesVar id="changePassForm" type="vn.com.fwd.banca.lead.model.ChangePasswordForm"*/-->
        <form action='change-password-success.html' method='POST' th:action="@{/change-password}"
              th:object="${changePassForm}">

            <div class="col-sm-6 margin-bottom-l">
                <br/>
                <div class="row">
                    Mật khẩu mới<span class="manda">*</span>
                </div>
                <br/>
                <div class="row">
                    <input type="password" th:field="*{password}" class="selectize-input" title="Password"/>
                    <p class="text-danger" th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}">
                        Missing username
                    </p>
                </div>
                <br/>
                <div class="row">
                    Nhập lại mật khẩu<span class="manda">*</span>
                </div>
                <br/>
                <div class="row">
                    <input type="password" th:field="*{verifyPassword}" class="selectize-input"
                           title="Verify password"/>
                    <p class="text-danger" th:if="${#fields.hasErrors('verifyPassword')}"
                       th:errors="*{verifyPassword}">
                        Missing username
                    </p>
                </div>
                <input type="hidden" th:field="*{username}"/>
                <br/>
                <div class="row">
                    <button class="btn btn-primary">GỬI YÊU CẦU</button>
                </div>
            </div>
        </form>
    </div>
</div>

<footer class="fwd-footer" th:replace="fragments/layout :: footer">
</footer>

</body>
</html>